In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
def fun(n):
  return lambda x : x * n

result = fun(2)
print(result(15))

30

In [5]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

In [9]:
subject_marks.sort(key=lambda x : x[1])

In [10]:
subject_marks

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [11]:
one = [1,1,4,5,6,7,2]

In [12]:
one.sort()

In [13]:
one

[1, 1, 2, 4, 5, 6, 7]

In [18]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list(map(lambda x : x ** 2,[1,2,3]))

[1, 4, 9]

In [31]:
result = lambda x,y: x + y

In [34]:
result(10,15)

25

In [35]:
def t(str,n):
    if str[0] == n:
        return True
    else:
        return False

In [37]:
t('Shubham','S')

True

In [38]:
result = lambda x : True if x[0] == 'P' else False

In [40]:
result('Pu')

False

In [41]:
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2022-04-24 14:54:36.181417
2022
4
24
14:54:36.181417

In [42]:
now.year

2022

In [46]:
import datetime
now=datetime.datetime.now()

In [49]:
year = lambda x : x.year

In [50]:
year(now)

2022

In [70]:
list1 = [1,2,3,4,5,6,7,8]

In [71]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [74]:
even =  list(filter(lambda x: x%2 == 0, nums))

TypeError: 'list' object is not callable

In [73]:
print(even)

<filter object at 0x13a3996a0>